
@{
   // ViewData["Title"] = "Results";
}

<h1>Results</h1>
<h2>@ViewBag.title</h2>

@foreach (var job in ViewBag.jobs)
{
    //TODO #1: Use a loop to display job results in a table.
    <table class="job-listing">
        <tr>
            <td>ID</td>
            <td>@job.Id</td>
        </tr>
        <tr>
            <td>Job Name</td>
            <td>@job.Name</td>
        </tr>
        <tr>
            <td>Position</td>
            <td>@job.PositionType</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@job.Location</td>
        </tr>
        <tr>
            <td>Skills</td>
            <td>@job.CoreCompetency</td>
        </tr>
        <tr>
            <td>Employer</td>
            <td>@job.Employer</td>
        </tr>
    </table>
}

